@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url(//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css);

:root {
  --real-black: #000;
  --black: #333;
  --semi-black: #666;
  --dark-gray-active: #888;
  --dark-gray: #999;
  --gray: #aaa;
  --semi-white-active: #ddd;
  --semi-white: #eee;
  --white: #f8f8f8;
  --real-white: #fff;
  --shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  --hyperlink: mediumblue;
  --hyperlink-hover: goldenrod;
  --hyperlink-active: crimson;
}
[data-darkmode="true"] * {
  --real-black: #fff;
  --black: #f8f8f8;
  --semi-black: #eee;
  --dark-gray-active: #bbb;
  --dark-gray: #aaa;
  --gray: #999;
  --semi-white-active: #777;
  --semi-white: #666;
  --white: #333;
  --real-white: #000;
  --shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);
  --hyperlink: aqua;
  --hyperlink-hover: yellow;
  --hyperlink-active: red;
}
:not(pre, input, textarea, p, span, b, p a)::selection {
  background-color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}
img {
  display: block;
}
body {
  background-color: var(--real-white);
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

pre,
textarea {
  font-family: "Inter", sans-serif;
  cursor: text;
  color: var(--black);
}
input:disabled {
  background-color: var(--gray);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  align-items: flex-start;
  justify-content: flex-start;
}

.invisible {
  display: none;
}
header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  width: 100vw;
}

header img {
  width: 30px;
}
.header_logo {
  font-size: 30px;
}
.header_logo img:hover {
  filter: opacity(0.5);
}
header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
}
header .darkmode {
  background-color: var(--white);
  margin-left: auto;
  margin-right: 20px;
  padding: 3px 6px;
  border-radius: 5px;
  border: 2px solid var(--black);
  color: var(--black);
}
header .login_btn {
  display: block;
  text-align: center;
  width: 80px;
  border: 1px solid var(--black);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0;
  cursor: pointer;
  margin-right: 20px;
}
header .login_btn:is(:hover, :active) {
  background-color: var(--semi-white);
}

.user_box {
  align-items: flex-end;
  gap: 20px;
}
.user_box :is(img, .profile i) {
  cursor: pointer;
}
.user_box img:hover {
  outline: 2px solid var(--black);
}
.user_box .profile {
  padding: 0;
  position: relative;
}
i[class="xi-profile"] {
  font-size: 30px;
  border-radius: 100%;
  background-color: var(--black);
  color: var(--white);
}
.user_setting_box {
  width: 140px;
  height: 100px;
  background-color: var(--white);
  position: absolute;
  right: -20px;
  top: 40px;
  flex-direction: column;
  gap: 20px;
  scale: 0;
  transform-origin: 100px top;
  z-index: 1;
}
.user_box .profile.active .user_setting_box {
  scale: 1;
}

.button {
  width: 100px;
  height: 30px;
  background-color: var(--semi-white);
  border-radius: 5px;
  border: none;
  color: var(--black);
}
aside {
  background-color: var(--semi-white);
  width: 200px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 15px;
}
aside h3 {
  margin-bottom: 20px;
  cursor: default;
}
aside :is(.joinroom, .login_user) {
  width: 170px;
  background-color: var(--white);
  padding: 10px 0;
}
.login_user {
  justify-content: flex-start;
  gap: 15px;
  cursor: default;
}
main {
  padding: 30px 40px;
}
main.home {
  margin-top: 30px;
}
main.home h2 {
  margin: 30px;
  cursor: default;
}
main.home button {
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 10px;
}
main.home button:is(:hover, :active) {
  background-color: var(--semi-white);
}
footer {
  position: fixed;
  bottom: 0;
}
footer h3 {
  text-align: center;
  cursor: default;
}
footer .address_box {
  width: 100vw;
  gap: 20px;
  padding: 20px 30px 50px;
}
footer .address {
  gap: 5px;
}
section {
  flex-direction: column;
  gap: 20px;
}
section h3 {
  margin-top: 15px;
}
section :is(input, button) {
  width: 250px;
}
section .error_msg {
  margin: 0;
}
form,
section {
  background-color: var(--semi-white);
  width: 500px;
  margin: 30px auto;
  padding: 10px 25px 30px;
  border-radius: 10px;
}
form label {
  margin: 20px 10px;
}
:is(form, section) input {
  height: 30px;
  font-size: 18px;
}
:is(form, section) button {
  margin-top: 30px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: var(--dark-gray);
  color: white;
  font-size: 16px;
}
:is(form, section) button:active {
  background-color: var(--dark-gray-active);
}
form.sign {
  display: flex;
  flex-direction: column;
}
.social {
  padding: 0 20px;
  width: 100%;
  gap: 10px;
  font-size: 16px;
}
.social_icon {
  height: 100%;
  font-size: 24px;
}
.google {
  background-color: lightcoral;
}
.google:active {
  background-color: coral;
}

.label_box {
  justify-content: flex-start;
}
.error_msg {
  margin-top: 20px;
  color: lightcoral;
}
.error_msg.signup {
  margin-top: 0;
}
:is(.sub_profile, .lock, .unlock) img {
  height: 30px;
}

img[alt="profile"] {
  border-radius: 100%;
}

.loading {
  height: 100vh;
  position: relative;
  flex-direction: column;
}
.loading h1 {
  font-size: 40px;
}
.loading i {
  position: absolute;
  font-size: 400px;
  font-weight: 900;
  opacity: 0.1;
  cursor: default;
}

.error {
  flex-direction: column;
  height: 500px;
}

.error button {
  margin-top: 30px;
  width: 350px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: var(--dark-gray);
  color: var(--white);
}
.room_password form {
  gap: 20px;
  padding: 40px;
}
.room_password input {
  display: block;
}
.room_password button {
  margin: 0;
  padding: 0 20px;
}
@media (max-width: 768px) {
  header .login_btn {
    width: 80px;
    font-size: 13px;
    padding: 5px 0;
    margin-right: 0;
  }
  main {
    padding: 20px 0 0;
  }
  .loading i {
    font-size: 90vw;
  }
  .loading h1 {
    font-size: 9vw;
  }
  .error h1 {
    font-size: 6vw;
  }
  .error button {
    width: 80vw;
    height: 50px;
  }

  form,
  section {
    width: 90vw;
  }
  section {
    gap: 10px;
  }
  section input {
    width: 90%;
  }
  .room_password form {
    padding-top: 20px;
    flex-direction: column;
    gap: 10px;
  }
  .room_password input {
    display: block;
  }
  .room_password button {
    width: 90%;
  }
}

@media (max-width: 550px) {
  header h2 {
    font-size: 20px;
  }
  header .darkmode {
    margin-right: 10px;
  }
  header .login_btn {
    width: 60px;
    font-size: 12px;
  }
  main.home h2 {
    font-size: 5vw;
  }
  footer h3 {
    text-align: left;
    padding-left: 20px;
  }
  footer .address_box {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
