@import url(./common.css);

[class^="xi-"] {
  transform: rotateZ(90deg);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
[class^="xi-"]:hover {
  color: var(--dark-gray);
}

.room_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.room_entrance {
  width: calc((100vw - 300px) / 2);
  height: 100px;
  background-color: var(--semi-white);
  border-radius: 5px;
  padding: 10px 20px;
  align-items: center;
}
.room_entrance:hover {
  outline: 3px solid var(--black);
  background-color: var(--white);
}
.room_entrance h1 {
  margin-right: auto;
}

.meta {
  align-items: center;
}

.lock,
.unlock {
  margin-left: 20px;
  margin-bottom: 14px;
}

.profile_box {
  justify-content: flex-end;
}
.sub_profile {
  padding-left: 10px;
}

.room_controller {
  margin-top: 20px;
  width: calc(100vw - 280px);
  height: 50px;
  background-color: var(--semi-white);
  border-radius: 5px;
  padding: 12px 15px;
  position: relative;
}

.arrow_box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

[class$="plus"] {
  position: absolute;
  right: 10px;
}

.create_setting {
  width: 520px;
  padding: 30px;
  /* display: none; */
}
.create_setting.active {
  display: block;
}
.create_setting .button_box {
  gap: 25px;
}
.create_setting button {
  padding: 10px 24px;
}
.input_box {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input_box input {
  width: 320px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--gray);
  margin-right: 41px;
  margin-bottom: 20px;
}
.input_box.password [type="checkbox"] {
  position: absolute;
  right: -41px;
  width: 20px;
  cursor: pointer;
}
.input_box.count .number_controller {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.number_controller h3 {
  margin: 0;
  width: 60px;
  text-align: center;
  cursor: default;
}

.number_controller .number_box {
  width: 60px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .room_box {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .room_entrance {
    width: calc(100vw - 280px);
  }
}
